/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.Icon {
  top: 2px;
  left: 98px;
  width: 66px;
  height: 66px;
  background: transparent url("img/MyWaysLogo.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}

.dropdown {
  position: absolute;
  left: 40%;
  width: 58px;
  height: 22px;
  text-align: center;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.instant-apply {
  position: absolute;
  left: 50%;
  width: 58px;
  height: 22px;
  text-align: center;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.pricing {
  position: absolute;
  left: 60%;
  width: 58px;
  height: 22px;
  text-align: center;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.about {
  position: absolute;
  left: 65%;
  width: 58px;
  height: 22px;
  text-align: center;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.signup-nav {
  position: absolute;
  left: 75%;
  width: 58px;
  height: 22px;
  text-align: left;
  font: normal normal 600 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #7ecb20;
  opacity: 1;
}

.login-nav {
  text-align: center;
  position: absolute;
  left: 85%;
  width: 108px;
  height: 30px;
  background: #7ecb20 0% 0% no-repeat padding-box;
  border-radius: 19px;
  opacity: 1;
}

.main-text {
  position: absolute;
  right: 35%;
  top: 300%;
  width: 400px;
  height: px;
  text-align: center;
  font: normal normal bold 41px/56px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.get-started {
  /* position: fixed; */
  right: 20%;
  top: 22%;
  position: absolute;
  width: 138px;
  height: 33px;
  /* text-align: center; */
  font: normal normal bold 24px/33px Open Sans;
  letter-spacing: 0px;
  color: black;
  text-transform: capitalize;
  opacity: 1;
}

.get-started-back {
  text-align: center;
  position: absolute;
  right: 40%;
  top: 450%;
  width: 236px;
  /* text-align: center; */
  height: 53px;
  background: #7ecb20 0% 0% no-repeat padding-box;
  border-radius: 27px;
  opacity: 1;
  /* position: fixed; */
}
.inner-login {
  top: 174px;
  left: 972px;
  width: 370px;
  height: 371px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 2.32;
}

.login-form {
  top: 20%;
  left: 345px;
  width: 676px;
  height: 577px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px;
  opacity: 1;
  /* position: fixed; */
  text-align: center;
}

.signup-form {
  top: 20%;
  left: 345px;
  width: 676px;
  height: 577px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px;
  opacity: 1;
  /* position: fixed; */
  text-align: center;
}

.form {
  height: 50%;
}

body {
  background: rgb(58, 58, 58);
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* HEADER */

header {
  background-color: black;
  /*  sorry for the strange urls, I had to upload them to google drive  */
  background-image: url("http://gdurl.com/1glme");
  background-size: 100%;
  background-position: center;
  height: 400px;
  padding: 20px;
  text-align: center;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 40px;
}

header .mobile {
  display: none;
}

header .logo a {
  background-image: url("http://gdurl.com/b9cd");
  background-size: 300px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 80px;
  position: relative;
  text-indent: -9999999px;
  top: -30px;
  width: 300px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

/* RESPONSIVE RULES */

@media screen and (max-width: 715px) {
  header {
    height: 250px;
    background-position: 0 -30px;
  }
  header .mobile {
    display: inline-block;
  }
  header .desktop {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  header {
    height: 200px;
    background-position: 0 -0px;
  }
}

/* FEATURES */

.features {
  background: white;
  color: gray;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.features figure {
  margin: auto;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
}

.features figure img {
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: gray 0 0 10px;
  width: 200px;
}

/* FOOTER */

footer {
  background: black;
  color: gray;
  font-size: 12px;
  padding: 20px 20px;
  text-align: center;
}

/* .login-form{

} */
